body {
    font-family: roboto, sans-serif;
    margin: 0px;
    
    
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    
    
}

.hero-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    padding-top: 12px;
    gap: 12px;
    
    margin-right: 0px;
}    

.header-logo {
    font-size: 24px;
}

.header-link-one {
    margin-left: auto;
}    

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-body {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.hero-left,
.hero-image {
    flex: 1;
    max-width: 600px;
}

.hero-left {
    padding-right: 18px;
}

.hero-secondary,
.header,
a {
    font-size: 18px;
    color: #a2a5a9;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    
}

.hero-image img {
    max-width: 500px;
    border-radius: 8px;
    
}

a {
    text-decoration: none;
    color: grey;
}

button {
    padding: 6px 28px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    font-size: 18px;
    border-color: #F9FAF8;
    flex-shrink: 0;
    border-style: solid;
}

.photos-container {
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    flex-wrap: wrap;
}

.photos-container img {
    max-height: 200px;
    display: block;
    border-radius: 8px;
    border: 4px solid #3882f6;
}

.photos-container div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 0;
    color: #1F2937;
}

.section-two {
    padding: 24px;
}

.section-three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 64px;
    display: flex;
    justify-content: center;
    padding-top: 100px
}

.section-three-container {
    max-width: 1000px;
}

.section-four {
    padding: 108px;
    display:flex;
    justify-content: center;
}

.four-container {
    background-color: #3882f6;
    display: flex;
    padding: 12px 72px;
   
    min-width: 800px;
    align-items: center;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.four-text {
    padding: 24px 24px;
    color: #c7cacf;
}

.four-title {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: bold;
}

.button-2 {
    margin: 24px 0px 24px 24px;
}