body {
    font-family: roboto, sans-serif;
    margin: 0px;
    
    
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    
    
}

.hero-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    padding-top: 12px;
    gap: 12px;
    
    margin-right: 0px;
}    

.header-logo {
    font-size: 24px;
}

.header-link-one {
    margin-left: auto;
}    

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-body {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.hero-left,
.hero-image {
    flex: 1;
    max-width: 800px;
}

.hero-left {
    padding-right: 18px;
}

.hero-secondary,
.header,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    background-color: grey;
}

a {
    text-decoration: none;
    color: grey;
}

button {
    padding: 4px 16px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 6px;
}